/* image resizing for banner img */
  img.banner {
    display:block;
    max-width: 100%;
    width: auto;
    margin-bottom: 1rem;
  }

/* box title styling */
  .intro_box_title span {
    display: flex;
    gap: 0.4rem;
  }

/* top nav bar */
  .skin-blue .main-header .navbar {
    background-color: #002364; /* dark sage green */
  }

/* sidebar toggle hover*/
  .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #1EBEC7; /* burnt orange */
  }

/* top header (left corner) */
  .skin-blue .main-header .logo {
    background-color: #002364; /* dark sage green */
  }

/* top header (left corner) hover */
  .skin-blue .main-header .logo:hover {
    background-color: #002364; /* burnt orange */
  }

/* side bar background */
  .skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #FFFFFF; /* cream */
  }

/* menu items hover */
  .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a, .skin-blue .sidebar-menu > li:hover > a {
    background: #1ba9b1; /* light burnt orange */
  }

/* sidebar text color */
  .skin-blue .sidebar a {
    color: #64605f; /* gray */
  }

/* box header colors */
  .box-header {
    color: #444; /*444*/
      background-color: #fff;
      display: block;
    padding: 10px;
    position: relative;
  }

/* highlighted tab color */
  .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #98A08D;
  }

/* tabset panel (not selected) */
  #dashboard_tabsetPanel a {
  color: #fff !important;
  background-color: #BECAB0; /* light sage green */
  font-size: medium;
}

/* tabset panel (selected) */
  #dashboard_tabsetPanel > li.active > a {
  background: #98A08D;
  }